{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <style>
        body{
            background-color: #CBF8FF;
        }

        h1{
            text-align: center;
            padding: 30px 0 25px 0;
            text-decoration: underline;
        }

        #introPara{
            font-family: Helvetica;
            text-align: center;
            padding: 20px 190px 20px 190px;
        }

        #bios{
            font-family: Helvetica;
            text-align: left;
            font-size: 20px;
            padding: 20px 75px 20px 75px;
            border: black 2px solid;
            border-radius: 10px;
            margin: 20px;
        }
    </style>

</head>

<body>
    <h1>
        About SynOptic
    </h1>

    <div id="introPara">
        Thanks for using SynOptic! We hope you enjoy using our website and are happy with your creations.
        SynOptic was created with the intention of combining two of our favorite forms of media: pictures and music.
    </div>

    <div id="bios">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex row justify-content-center align-self-center">
                    <p id="andrew">
                        This is Hyun's shitty bio section. This is Hyun's shitty bio section.
                        This is Hyun's shitty bio section. This is Hyun's shitty bio section.
                        This is Hyun's shitty bio section. This is Hyun's shitty bio section.
                        This is Hyun's shitty bio section. This is Hyun's shitty bio section.
                        This is Hyun's shitty bio section. This is Hyun's shitty bio section.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="d-flex row justify-content-center align-self-center">
                    <p id="kenny">
                        This is Kenny's shitty bio section. This is Kenny's shitty bio section.
                        This is Kenny's shitty bio section. This is Kenny's shitty bio section.
                        This is Kenny's shitty bio section. This is Kenny's shitty bio section.
                        This is Kenny's shitty bio section. This is Kenny's shitty bio section.
                        This is Kenny's shitty bio section. This is Kenny's shitty bio section.
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="d-flex row justify-content-center align-self-center">
                    <p id="nick">
                        This is Nick's shitty bio section. This is Nick's shitty bio section.
                        This is Nick's shitty bio section. This is Nick's shitty bio section.
                        This is Nick's shitty bio section. This is Nick's shitty bio section.
                        This is Nick's shitty bio section. This is Nick's shitty bio section.
                        This is Nick's shitty bio section. This is Nick's shitty bio section.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="links">
        <div class="row align-self-center justify-content-center">
            {# Use the django template engine to generate the urls for an action. The url Name is the name #}
            {# we assigned each url in the urls.py file #}
            <a class="hover-expand" href="{% url 'index' %}">
                Home
            </a>
        </div>
        <div class="row align-self-center justify-content-center">
            <a class="hover-expand" href="contact-us">
                Contact Us
            </a>
        </div>
    </div>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

</body>
</html>