{% extends 'Base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block head %}
<style xmlns:v-bind="http://www.w3.org/1999/xhtml">
    #wrapper-app{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    #navs > li > a,button{
        text-align: center;
        width: 100%;
    }
</style>
{% endblock %}


{% block content %}
<div class="container" id="wrapper-app">
    <div class="card w-100">
        <div class="card-header">
            <ul class="nav row" id="navs">
                <li class="nav-item col-md">
                    <button class="btn btn-outline-primary" v-bind:class="{ active: activeSection === 0}" v-on:click="activeSection = 0">Image</button>
                </li>
                <li class="nav-item col-md">
                    <button class="btn btn-outline-primary" v-bind:class="{ active: activeSection === 1 }" v-on:click="activeSection = 1">Scale</button>
                </li>
                <li class="nav-item col-md">
                    <button class="btn btn-outline-primary" v-bind:class="{ active: activeSection === 2}" v-on:click="activeSection = 2">Name</button>
                </li>
                <li class="nav-item col-md">
                    <button class="btn btn-outline-primary" v-bind:class="{ active: activeSection === 3 }" v-on:click="activeSection = 3">File</button>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <div class="container" v-if="activeSection === 0">
                <div class="row justify-content-center">
                     <input class="btn" type="file" v-on:change="imgPreviewChange" />
                </div>
                <div class="row justify-content-center">
                    <img src="{% static 'images/pandas.jpg' %}" style="height: 500px;" id="image-preview" />
                </div>

            </div>
            <div class="row justify-content-center" v-if="activeSection === 1">
                b
            </div>
            <div class="row justify-content-center" v-if="activeSection === 2">
                c
            </div>
            <div class="row justify-content-center" v-if="activeSection === 3">
                d
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function (e) {
                let imgPrev = document.getElementById('image-preview');
                imgPrev.setAttribute('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script src="{% static 'js/V-Home.js' %}"></script>
{% endblock %}
