.hover-expand{
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.hover-expand:hover,.hover-expand:focus{
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

body{
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    color: black;
    font-family: Audiowide, Helvetica, Arial, Verdana, Geneva;
    font-size: 20px;
}

body,html{
    height: 100%;
}

h1{
    font-size: 70px;
    padding: 20px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{

}

h3{
    font-size: 15px;
}

#links{
    padding: 20px 0 0 0;
}

a:link {
    color: blue;
}

a:visited {
    color:purple;
}

a:hover {
    color: orange;
}
